.columns {
    display: flex;

}

.card-header {
    background-color: darkorange;
    border-radius: 10px 50px;
}

.profile{
    height: 80vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
